[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
panda = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"
scikeras = "*"

[dev-packages]

[requires]
python_version = "3.9"
