[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
selenium = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scikeras = "*"
keras = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.12"
